<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);">
  <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@brandless?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Brandless">
    <span style="display:inline-block;padding:2px 3px">
      <svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32">
        <title>unsplash-logo</title>
        <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
      </svg>
    </span>
    <span style="display:inline-block;padding:2px 3px">Brandless</span>
  </a>
    <h1>My Cookbook</h1>
    <p>Store all of your recipes here!</p>
</div>

<h3>Find a Recipe</h3>
  <div class="search-input" align="center">
    <%= render 'shared/search' %>
    </div>
</div>

<h4><%= link_to 'Add a Recipe', new_recipe_path %></h4>

<h3>View by Category</h3>
<div class="category-cards">
  <%= render 'shared/card-category' %>
</div>

<h3>View by Difficulty</h3>
<div class="difficulty-buttons">
  <%= link_to 'Easy', recipes_path(:difficulty=>'Easy'), class: "btn btn-ghost" %>
  <%= link_to 'Medium', recipes_path(:difficulty=>'Medium'), class: "btn btn-ghost" %>
  <%= link_to 'Hard', recipes_path(:difficulty=>'Hard'), class: "btn btn-ghost" %>
</div>
<h3>Saved Recipes</h3>
<div>
  <%= render 'shared/card-recipe' %>
</div>

<!--
<h4>Recipe Preferences</h4>
<div class="recipe-preferences-container">
  <fieldset class="form-group check_boxes required recipe-preferences">
    <legend class="col-form-label pt-0">Difficulty</legend>
    <input type="hidden" name="recipe[difficulty][]" value="">
    <% difficulty = ['Easy', 'Medium', 'Hard'] %>
    <div class="difficulty-preferences">
      <% difficulty.each do |d| %>
        <div class="form-check">
          <input class="form-check-input check_boxes optional hidden" type="hidden" value="<% d %>" name="recipe[difficulty][]" id="recipe_difficulty_<% d %>">
          <label class="collection_check_boxes" for="recipe_difficulty_<% d %>"><%= d %></label>
        </div>
      <% end %>
    </div>

    <legend class="col-form-label pt-0">Category </legend>
    <input type="hidden" name="recipe[category][]" value="">
    <% category = ['Meat', 'Fish', 'Poultry', 'Appetizer', 'Dessert', 'Side Dish', 'Soup'] %>
    <div class="category-preferences">
      <% category.each do |c| %>
        <div class="form-check">
          <input class="form-check-input check_boxes optional hidden" type="hidden" value="<% c %>" name="recipe[category][]" id="recipe_category_<% c %>">
          <label class="collection_check_boxes" for="recipe_category_<% c %>"><%= c %></label>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>


<% time = ['< 30 min', '1 hour or less', '2 hours or less', '3 hours or greater'] %>

!>
